<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Perform a database-wide search for any student." name="District Search" version="2.0"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Jason Springel">
        <contact email="jason.springel@pearson.com"/>
    </publisher>
</plugin>
