~[frame_type:none]
<!DOCTYPE html>
<html>
<head>
    <!-- Created by Jason Springel - v1.0 04/07/2013 -->
    <!--  v1.5 06/22/2013 Add color coding to enroll status -->
    <title>District-Wide Student Search Results</title>
    ~[wc:commonscripts]
    <link href="/images/css/screen.css" rel="stylesheet" media="screen">
    <link href="/images/css/print.css" rel="stylesheet" media="print">
    <link rel="stylesheet" href="/images/css/theme/crm-css/jquery-ui.custom.css" type="text/css">
    <link rel="stylesheet" href="/admin/includes/template/reports-printable.css" type="text/css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_table_jui.css">
    <script src="/scripts/DistrictSearch/district-search2.js"></script>

    <style>
        .active {
            color: #ff0000;
        }
        .pre-registered {
            color: #33cc66;
        }
        .transferred-out {
            color: #000000;
        }
        .grad-or-imported {
            color: #A0A0A0;
        }
    </style>
</head>

<body>
<!-- start ps-data -->
<div id="ps-data"
    data-ps='
    {
        "searchResults":
        [
            ~[tlist_sql;
                SELECT
                    s.student_number,
                    replace(s.lastfirst, '''', '&apos'||chr(59)),
                    TO_CHAR(s.dob,'MM/DD/YYYY'),
                    s.grade_level,
                    TO_CHAR(s.entrydate,'MM/DD/YYYY'),
                    TO_CHAR(s.exitdate,'MM/DD/YYYY'),
                    CASE s.enroll_status
                        WHEN 0 THEN 'Active'
                        WHEN -1 THEN 'Pre-Registered'
                        WHEN 2 THEN 'Transferred Out'
                        WHEN 3 THEN 'Graduated'
                        WHEN 4 THEN 'Imported as Historical'
                        ELSE 'Inactive'
                        END as status,
                    sch.name
                FROM students s
                INNER JOIN schools sch ON sch.school_number = s.schoolid
                ~[if.~[gpv:student]=]
                    WHERE TO_CHAR(s.dob,'MM/DD/YYYY') LIKE TO_CHAR((to_date('~[gpv:dob]', 'MM/DD/YYYY')),'MM/DD/YYYY')
                [else]
                    WHERE ( upper(s.last_name) LIKE upper('%~[gpv:student]%') )
                [/if]
                ORDER BY lastfirst
              ]
                {
                    "studentNumber": ~(student_number),
                    "studentName": "~(lastfirst)",
                    "dateOfBirth": "~(dob)",
                    "gradeLevel": ~(grade_level),
                    "entrydate": "~(entrydate)",
                    "exitdate": "~(exitdate)",
                    "status": "~(status)",
                    "schoolName": "~(schoolname)"
                },
              [/tlist_sql]{}
        ]
    }
    '
    ></div>
<!-- end ps-data>

<!-- start templates -->
<script type="text/template" id="results-template">
    <table class="display">
        <thead>
        <tr>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>DOB</th>
            <th>Grade</th>
            <th>Entry Date</th>
            <th>Exit date</th>
            <th>Enroll Status</th>
            <th>School</th>
        </tr>
        </thead>
        <tbody>
        <%
            _.each(rows, function(row) {
        %>
            <tr>
                <td><%= row.studentNumber %></td>
                <td><%= row.studentName %></td>
                <td><%= row.dateOfBirth %></td>
                <td><%= row.gradeLevel %></td>
                <td><%= row.entrydate %></td>
                <td><%= row.exitdate %></td>
                <td><span class="<%= row.statusClass %>"><%= row.status %></span></td>
                <td><%= row.schoolName %></td>
            </tr>
        <%
            });
        %>
        </tbody>
    </table>
</script>
<!-- end templates -->


~[wc:admin_header_css]<!-- breadcrumb start --><a href="/admin/home.html" target="_top">~[text:psx.html.admin_students.newstudent.start_page]</a>
&gt; <a href="/admin/district-search.html" target="_top">District-Wide Student Search</a><!-- breadcrumb end -->
~[wc:admin_navigation_css]

<h1>Searching for students with ~[if.~[gpv:student]=][else]Last Name containing: ~[gpv:student][/if]
    ~[if#student.~[gpv:student]=][else#student]
        ~[if#dob.~[gpv:dob]=][else#dob]
            or
        [/if#dob]
    [/if#student]
    ~[if.~[gpv:dob]=][else]Birthday of ~[gpv:dob][/if]</h1>

<div class="box-round"></div>
<br>
<!-- end of content of bounding box -->

~[wc:admin_footer_css]

</body>
</html>
